@mixin vertical_line_container($line_color: $line_color) {
  & > :first-child { border-left: none; }
  & > * { border-left: 1px solid $line_color; }
}
@mixin hortizonal_line_container($line_color: $line_color) {
  & > :first-child { border-top: none; }
  & > * { border-top: 1px solid $line_color; }
}