@mixin horizontally_center {
  margin: 0px auto;
}
@mixin horizontal_center_container {
  text-align: center;
  & > * {
    margin: 0px auto;
    text-align: left;
  }
}

// http://www.jakpsatweb.cz/css/css-vertical-center-solution.html
@mixin vertical_center_container {
  display: table;
  position: static;

  & > * {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }
}

/*
http://css-tricks.com/centering-in-the-unknown/
Changes the parent
*/
@mixin center_container {
  text-align: center;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  }

  & > * {
    display: inline-block;
    vertical-align: middle;
  }
}