$line_color: #DDD;

@mixin vertical_line_container($line_color: $line_color, $line_width: 1px) {
  & > :first-child { border-left: none; }
  & > * { border-left: $line_width solid $line_color; }
}
@mixin hortizonal_line_container($line_color: $line_color, $line_width: 1px) {
  & > :first-child { border-top: none; }
  & > * { border-top: $line_width solid $line_color; }
}