@mixin overflow_left_container {
  @include clearfix;
  & > :first-child {
    float: right;
    & + * {
      overflow: hidden;
    }
  }
}
@mixin overflow_right_container {
  @include clearfix;
  & > :first-child {
    float: left;

    & + * {
      overflow: hidden;
    }
  }
}
@mixin overflow_middle_container {
  @include clearfix;

  & > * {
    text-align: center;
    overflow: hidden;
  }
  & > :first-child {
    float: left;

    overflow: visible;
    text-align: inherit;

    & + * {
      float: right;

      overflow: visible;
      text-align: inherit;
    }
  }
}