// from http://css-tricks.com/perfect-full-page-background-image/
// should use http://stackoverflow.com/questions/1342994/check-browser-css-property-support to degrade
@mixin image_background($image_url) {
  background: $image_url no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin image_background_contaner {
  position:fixed;
  top:-50%;
  left:-50%;
  width:200%;
  height:200%;

  & > img {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    min-width:50%;
    min-height:50%;
  }
}